Repository woowacourse-teams/2025-routie, pull requests merged in 2025-08, with the labels that each got.

#319 refactor: 장소 추가/수정 모달의 모든 입력 필드를 필수 입력으로 변경
  frontend/src/@common/components/Input/Input.style.ts
  frontend/src/@common/components/Input/Input.types.ts
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceFormSection/AddressInput.tsx
  frontend/src/domains/places/components/PlaceFormSection/BreakTimeInputs.tsx
  frontend/src/domains/places/components/PlaceFormSection/BusinessHourInputs.tsx
  frontend/src/domains/places/components/PlaceFormSection/ClosedDaySelector.tsx
  frontend/src/domains/places/components/PlaceFormSection/OptionalInfoSection.tsx
  frontend/src/domains/places/components/PlaceFormSection/PlaceNameInput.tsx
  frontend/src/domains/places/components/PlaceFormSection/RequiredInfoSection.tsx
  frontend/src/domains/places/components/PlaceFormSection/StayDurationInput.tsx
  frontend/src/domains/places/hooks/useAddPlaceForm.ts
  frontend/src/domains/places/hooks/usePlaceFormValidation.ts
Labels: frontend, refactor

#316 refactor: 장소에 대한 검증 로직 변경
  backend/spring-routie/src/main/java/routie/place/controller/dto/request/PlaceCreateRequest.java
  backend/spring-routie/src/main/java/routie/place/domain/Place.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceTest.java
Labels: backend, refactor

#351 refactor: 동선 검증 기능이 꺼져 있어도 input이 UI에서 사라지지 않게 수정
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/layouts/Sidebar/TimeInput.tsx
Labels: frontend, refactor

#344 chore: 장소 카드 휴무일 리스트를 space-around를 통해 자동 gap으로 수정
  frontend/src/domains/places/components/DatePreviewList/DatePreviewList.tsx
Labels: frontend, chore

#354 feat: 빈 동선 메시지 컴포넌트 추가 및 사이드바에 통합
  frontend/src/domains/routie/components/EmptyRoutieMessage/EmptyRoutieMessage.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, feat

#361 fix: 루티에서 장소 검증 동작 오류로 개선
  frontend/src/domains/routie/components/RoutieSection/RoutieSection.tsx
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
Labels: frontend, fix

#349 refactor: 루티 검증 기능 API 수정
  backend/spring-routie/src/main/java/routie/routie/controller/RoutieController.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/response/RoutieReadResponse.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/response/RoutieValidationResponse.java
  backend/spring-routie/src/main/java/routie/routie/domain/route/RouteCalculator.java
  backend/spring-routie/src/main/java/routie/routie/domain/route/Routes.java
  backend/spring-routie/src/main/java/routie/routie/domain/routievalidator/RoutieValidator.java
  backend/spring-routie/src/main/java/routie/routie/domain/routievalidator/ValidationResult.java
  backend/spring-routie/src/main/java/routie/routie/domain/routievalidator/ValidationStrategy.java
  backend/spring-routie/src/main/java/routie/routie/domain/timeperiod/TimePeriodCalculator.java
  backend/spring-routie/src/main/java/routie/routie/domain/timeperiod/TimePeriods.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievalidator/BreaktimeValidator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievalidator/ClosedDayValidator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievalidator/OperationHoursValidator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievalidator/RoutieValidatorComposite.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievalidator/TotalTimeValidator.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/BreaktimeValidatorTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/ClosedDayValidatorTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/OperationHoursValidatorTest.java
  backend/spring-routie/src/test/java/routie/routie/service/RoutieServiceValidationTest.java
Labels: backend, refactor

#350 chore: Logback을 이용한 error, warn, info 로깅 설정 추가
  backend/spring-routie/.gitignore
  backend/spring-routie/build.gradle
  backend/spring-routie/src/main/resources/application.yml
  backend/spring-routie/src/main/resources/logback-dev.xml
  backend/spring-routie/src/main/resources/logback-spring.xml
Labels: backend, chore

#365 chore: Logback 설정 수정
  backend/spring-routie/build.gradle
  backend/spring-routie/src/main/resources/logback-dev.xml
  backend/spring-routie/src/main/resources/logback-spring.xml
Labels: backend, chore

#363 chore: ga 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/libs/googleAnalytics/hooks/useGoogleAnalytics.ts
  frontend/src/libs/googleAnalytics/hooks/useGoogleEventTrigger.ts
  frontend/src/routes/index.tsx
Labels: frontend, chore

#375 refactor: 장소 카드 선택/해제 UI 수정
  frontend/src/@common/components/Card/Card.styles.ts
  frontend/src/@common/components/IconButton/IconButton.style.ts
  frontend/src/assets/icons/check.svg
  frontend/src/assets/icons/edit.svg
  frontend/src/assets/icons/minus.svg
  frontend/src/assets/icons/trash.svg
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
Labels: frontend, refactor

#370 chore: 이슈 템플릿 수정 및 BUG 템플릿 추가
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/EPIC.md
  .github/ISSUE_TEMPLATE/STORY.md
  .github/ISSUE_TEMPLATE/TASK.md
  .github/pull_request_template.md
Labels: backend, chore

#382 refactor: 선택된 아이콘 버튼의 포인터 이벤트 비활성화
  frontend/src/@common/components/IconButton/IconButton.style.ts
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
Labels: frontend, refactor

#378 refactor: 루티 검증 결과 메시지 세분화
  frontend/src/domains/routie/apis/routie.ts
  frontend/src/domains/routie/components/RoutieValidationResultCard/RoutieValidationResultCard.tsx
  frontend/src/domains/routie/constants/routieValidation.ts
  frontend/src/domains/routie/contexts/useRoutieValidateContext.tsx
  frontend/src/domains/routie/hooks/useRoutieValidate.ts
  frontend/src/domains/routie/types/routie.types.ts
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, refactor

#392 fix: 병합 과정에서 중복된 일정 입력 input 제거
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, fix

#387 chore: sentry 초기 세팅
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
Labels: frontend, chore

#403 chore: git workflow 이름 정정
  .github/workflows/backend-prod-cd.yml
  .github/workflows/backend-prod-ci.yml
Labels: backend, chore

#396 feat: 개발 환경의 사용자 요청 로그 기록
  .github/workflows/backend-dev-cd.yml
  backend/spring-routie/src/main/java/routie/logging/aspect/RequestLoggingAspect.java
  backend/spring-routie/src/main/java/routie/logging/extractor/ClientIpExtractor.java
  backend/spring-routie/src/main/java/routie/logging/extractor/HandlerMethodAnalyzer.java
  backend/spring-routie/src/main/java/routie/logging/extractor/dto/HandlerParameter.java
  backend/spring-routie/src/main/java/routie/logging/logger/ClientRequestLogger.java
  backend/spring-routie/src/main/resources/logback-dev.xml
Labels: backend, feat

#406 feat: 장소 엔티티에 경도/위도 추가, 그에 따른 장소 추가/단건조회/목록조회 API 수정
  backend/spring-routie/src/main/java/routie/place/controller/dto/request/PlaceCreateRequest.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceListResponse.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceReadResponse.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/SearchedPlacesResponse.java
  backend/spring-routie/src/main/java/routie/place/domain/Place.java
  backend/spring-routie/src/main/java/routie/place/domain/SearchedPlace.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/search/KakaoPlaceSearchResponse.java
  backend/spring-routie/src/main/java/routie/place/service/PlaceService.java
  backend/spring-routie/src/test/java/routie/place/controller/PlaceControllerTest.java
  backend/spring-routie/src/test/java/routie/place/controller/PlaceSearchControllerTest.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceSearcherTest.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceTest.java
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/routie/service/RoutieServiceValidationTest.java
  backend/spring-routie/src/test/java/routie/routiespace/controller/RoutieSpaceControllerTest.java
Labels: backend, feat

#414 refactor: 장소 검색 API 변수명 리팩터링
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/SearchedPlacesResponse.java
  backend/spring-routie/src/main/java/routie/place/domain/SearchedPlace.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceSearcherTest.java
Labels: backend, refactor

#412 feat: prod 환경 로그 기록 구현
  backend/spring-routie/src/main/java/routie/logging/aspect/RequestLoggingAspect.java
  backend/spring-routie/src/main/java/routie/logging/config/DevLoggingConfig.java
  backend/spring-routie/src/main/java/routie/logging/config/ProdLoggingConfig.java
  backend/spring-routie/src/main/java/routie/logging/extractor/ClientIpExtractor.java
  backend/spring-routie/src/main/java/routie/logging/interceptor/RequestLoggingInterceptor.java
  backend/spring-routie/src/main/java/routie/logging/logger/ClientRequestLogger.java
  backend/spring-routie/src/main/resources/logback-prod.xml
  backend/spring-routie/src/main/resources/logback-spring.xml
Labels: backend, feat

#416 chore: cd 워크플로우 파일에서 echo 출력 방식 수정
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-prod-cd.yml
Labels: backend, chore

#420 feat: 프로덕션 환경 cors 설정 추가
  backend/spring-routie/src/main/java/routie/auth/config/DevCorsConfig.java
  backend/spring-routie/src/main/java/routie/auth/config/ProdCorsConfig.java
Labels: backend, feat

#421 feat: 장소 검색 기능 구현 및 API 연동
  frontend/src/assets/icons/pin.svg
  frontend/src/domains/places/apis/editPlace.ts
  frontend/src/domains/places/apis/searchPlace.ts
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/places/components/PlaceFormSection/AddressInput.tsx
  frontend/src/domains/places/components/PlaceFormSection/PlaceForm.types.ts
  frontend/src/domains/places/components/SearchBox/SearchBox.tsx
  frontend/src/domains/places/components/SearchList/SearchList.styles.ts
  frontend/src/domains/places/components/SearchList/SearchList.tsx
  frontend/src/domains/places/hooks/useAddPlaceForm.ts
  frontend/src/domains/places/hooks/usePlaceFormValidation.ts
  frontend/src/domains/places/hooks/useSearchPlace.ts
  frontend/src/domains/places/types/place.types.ts
Labels: frontend, feat

#425 feat: 자동차 이동 시 장소 간 이동 거리, 시간 계산에서 실제 데이터를 사용하도록 변경
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routecalculator/driving/kakaodrivingapi/KakaoDrivingRouteApiClientConfig.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routecalculator/driving/kakaodrivingapi/KakaoDrivingRouteApiRequest.java
Labels: backend, feat

#427 refactor: 자동차 이동 시간 계산 시, 응답을 분단위로 하도록 변경
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routecalculator/driving/DrivingRouteCalculator.java
Labels: backend, refactor

#422 refactor: 검증 대기중 안내 구현
  frontend/src/domains/routie/components/RoutieValidationLoadingCard/RoutieValidationLoadingCard.styles.ts
  frontend/src/domains/routie/components/RoutieValidationLoadingCard/RoutieValidationLoadingCard.tsx
  frontend/src/domains/routie/components/RoutieValidationWaitingCard/RoutieValidationWaitingCard.styles.ts
  frontend/src/domains/routie/components/RoutieValidationWaitingCard/RoutieValidationWaitingCard.tsx
  frontend/src/domains/routie/contexts/useRoutieValidateContext.tsx
  frontend/src/domains/routie/hooks/useRoutieValidate.ts
  frontend/src/domains/routie/types/routie.types.ts
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, refactor

#434 fix: 루티 장소 순서 변경 시 refetch 하도록 수정
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
Labels: frontend, fix

#448 refactor: 모든 Service 클래스에서 @Transactional(readOnly = true)를 사용하도록 변경
  backend/spring-routie/src/main/java/routie/place/service/PlaceSearchService.java
  backend/spring-routie/src/main/java/routie/place/service/PlaceService.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
  backend/spring-routie/src/main/java/routie/routiespace/service/RoutieSpaceService.java
Labels: backend, refactor

#461 refactor: null 검증을 통일되게 수행하도록 변경
  backend/spring-routie/src/main/java/routie/place/controller/dto/request/PlaceUpdateRequest.java
  backend/spring-routie/src/main/java/routie/place/domain/Place.java
  backend/spring-routie/src/main/java/routie/place/domain/PlaceClosedDayOfWeek.java
  backend/spring-routie/src/main/java/routie/place/domain/SearchedPlace.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/request/RoutieUpdateRequest.java
  backend/spring-routie/src/main/java/routie/routie/domain/Routie.java
  backend/spring-routie/src/main/java/routie/routie/domain/RoutiePlace.java
  backend/spring-routie/src/main/java/routie/routie/domain/route/Route.java
  backend/spring-routie/src/main/java/routie/routie/domain/route/Routes.java
  backend/spring-routie/src/main/java/routie/routie/domain/routievalidator/ValidationContext.java
  backend/spring-routie/src/main/java/routie/routie/domain/routievalidator/ValidationResult.java
  backend/spring-routie/src/main/java/routie/routie/domain/timeperiod/TimePeriod.java
  backend/spring-routie/src/main/java/routie/routie/domain/timeperiod/TimePeriodCalculator.java
  backend/spring-routie/src/main/java/routie/routie/domain/timeperiod/TimePeriods.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/test/java/routie/place/controller/PlaceSearchControllerTest.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/BreaktimeValidatorTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/ClosedDayValidatorTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/OperationHoursValidatorTest.java
  backend/spring-routie/src/test/java/routie/routiespace/controller/RoutieSpaceControllerTest.java
Labels: backend, refactor

#462 refactor: 빈 루티에 대한 안내 메세지를 직관적으로 변경
  frontend/src/domains/routie/components/EmptyRoutieMessage/EmptyRoutieMessage.tsx
Labels: frontend, refactor

#447 refactor: text 컴포넌트에 한 줄 말줄임 기능을 추가함으로써 카드 컴포넌트 개선
  frontend/src/@common/components/Text/Text.style.ts
Labels: frontend, refactor

#456 fix: 카카오맵 기본 위치 좌표 수정
  frontend/src/domains/maps/components/KakaoMap.tsx
Labels: frontend, fix

#484 feat: 장소 엔티티에 지번 주소(addressName) 필드 추가
  backend/spring-routie/src/main/java/routie/place/controller/dto/request/PlaceCreateRequest.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceListResponse.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceReadResponse.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/SearchedPlacesResponse.java
  backend/spring-routie/src/main/java/routie/place/domain/Place.java
  backend/spring-routie/src/main/java/routie/place/domain/SearchedPlace.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/search/KakaoPlaceSearchResponse.java
  backend/spring-routie/src/main/java/routie/place/service/PlaceService.java
  backend/spring-routie/src/test/java/routie/place/controller/PlaceControllerTest.java
  backend/spring-routie/src/test/java/routie/place/controller/PlaceSearchControllerTest.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceBuilder.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceSearcherTest.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceTest.java
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/routie/service/RoutieServiceValidationTest.java
  backend/spring-routie/src/test/java/routie/routiespace/controller/RoutieSpaceControllerTest.java
Labels: backend, feat

#494 refactor: Place 엔티티 소규모 리팩링
  backend/spring-routie/src/main/java/routie/place/domain/Place.java
Labels: backend, refactor

#498 prod 배포 설정 수정사항을 main에 merge
  frontend/webpack.prod.js
Labels: frontend, backend, chore

#492 chore: feat 커밋 타입에 해당하는 PR 라벨명 수정
  .github/workflows/setup-open-pr.yml
Labels: backend, chore

#486 feat: toast 기능 구현
  frontend/src/@common/components/Toast/Toast.styles.ts
  frontend/src/@common/components/Toast/Toast.tsx
  frontend/src/@common/contexts/useToastContext.tsx
  frontend/src/@common/hooks/useToast.ts
  frontend/src/@common/types/toast.type.ts
  frontend/src/routes/index.tsx
Labels: frontend, feature

#508 fix: 도로명 주소는 null일 수 있고, 지번 주소는 null일 수 없도록 수정
  backend/spring-routie/src/main/java/routie/place/domain/SearchedPlace.java
Labels: backend, fix

#477 feat: 지도 위의 마커에 장소카드를 보여주는 클릭 이벤트 추가
  frontend/kakao.d.ts
  frontend/src/domains/maps/components/KakaoMap.tsx
  frontend/src/domains/maps/components/PlaceOverlayCard.tsx
  frontend/src/domains/maps/hooks/useCustomOverlay.ts
  frontend/src/domains/maps/hooks/useMapMarker.ts
Labels: frontend, feature

#527 feat: 응답 필드에 브레이크 타임 추가
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceListResponse.java
Labels: backend, feature

#529 fix: 카카오 지도가 마커의 장소 위치로 이상하게 이동하는 문제 수정
  frontend/src/domains/maps/hooks/useMapMarker.ts
Labels: frontend, fix

#503 refactor: 루티 장소 카드 UI 수정
  frontend/src/@common/components/Card/Card.styles.ts
  frontend/src/@common/components/IconButton/IconButton.style.ts
  frontend/src/@common/components/IconButton/IconButton.types.ts
  frontend/src/@common/components/IconSvg/Icon.styles.ts
  frontend/src/@common/components/IconSvg/Icon.tsx
  frontend/src/@common/components/IconSvg/Icon.types.ts
  frontend/src/@common/components/IconSvg/allIcons.ts
  frontend/src/@common/components/Pill/Pill.style.ts
  frontend/src/@common/components/Pill/Pill.types.ts
  frontend/src/@common/components/Tooltip/Tooltip.styles.ts
  frontend/src/@common/components/Tooltip/Tooltip.tsx
  frontend/src/assets/icons/close-red.svg
  frontend/src/assets/icons/duration-time.svg
  frontend/src/assets/icons/timepass.svg
  frontend/src/domains/places/utils/getCheckedDaysInKorean.ts
  frontend/src/domains/routie/components/DraggableWrapper/DraggableWrapper.styles.ts
  frontend/src/domains/routie/components/DraggableWrapper/DraggableWrapper.tsx
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.styles.ts
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
  frontend/src/domains/routie/types/routie.types.ts
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, refactor

#509 refactor: 일정 날짜, 시간 입력 분리
  frontend/src/@common/components/Input/Input.style.ts
  frontend/src/@common/components/Input/Input.tsx
  frontend/src/@common/hooks/useSessionStorage.ts
  frontend/src/@common/utils/format.ts
  frontend/src/@common/utils/sessionStorage.ts
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
  frontend/src/domains/routie/contexts/useRoutieValidateContext.tsx
  frontend/src/domains/routie/hooks/useRoutieValidate.ts
  frontend/src/layouts/Sidebar/DateInput.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/layouts/Sidebar/TimeInput.tsx
Labels: frontend, refactor

#532 fix: 수정 이후에도 제대로 지도가 동작하지 않는 문제 수정
  frontend/src/domains/maps/components/KakaoMap.tsx
  frontend/src/domains/maps/hooks/useCustomOverlay.ts
  frontend/src/domains/maps/hooks/useMapMarker.ts
Labels: frontend, fix

#536 feat: 이동 수단 선택 UI 구현
  frontend/src/@common/components/IconSvg/Icon.styles.ts
  frontend/src/@common/components/IconSvg/Icon.tsx
  frontend/src/@common/components/IconSvg/allIcons.ts
  frontend/src/assets/icons/car.svg
  frontend/src/assets/icons/train.svg
  frontend/src/domains/routie/components/SelectMovingStrategy/SelectMovingStrategy.styles.ts
  frontend/src/domains/routie/components/SelectMovingStrategy/SelectMovingStrategy.tsx
  frontend/src/domains/routie/components/SelectMovingStrategy/SelectMovingStrategy.types.ts
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, feature

#545 feat: marker title 추가
  frontend/src/domains/maps/components/KakaoMap.tsx
  frontend/src/domains/maps/hooks/useMapMarker.ts
Labels: frontend, feature

#543 feat: 지도 최대 zoom level 제한 추가
  frontend/src/domains/maps/components/KakaoMap.tsx
  frontend/src/domains/maps/hooks/useKakaoMapInit.ts
  frontend/src/domains/maps/types/KaKaoMap.types.ts
Labels: frontend, feature

#533 feat: 랜딩페이지 구현
  frontend/src/@common/components/Button/Button.types.ts
  frontend/src/@common/components/Card/Card.styles.ts
  frontend/src/@common/components/Header/Header.style.ts
  frontend/src/@common/components/Text/Text.style.ts
  frontend/src/assets/icons/arrow-white.svg
  frontend/src/assets/icons/check-home.svg
  frontend/src/assets/icons/clock-home.svg
  frontend/src/assets/icons/place-home.svg
  frontend/src/assets/icons/reload.svg
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Home/InfoCard.styles.ts
  frontend/src/pages/Home/InfoCard.tsx
  frontend/src/pages/Home/hooks/useRoutieSpaceNavigation.ts
  frontend/src/styles/theme.ts
Labels: frontend, feature

#493 refactor: 로깅 시스템 설계 리펙토링 및 필드 변경
  backend/spring-routie/src/main/java/routie/exception/GlobalExceptionHandler.java
  backend/spring-routie/src/main/java/routie/logging/aspect/RequestLoggingAspect.java
  backend/spring-routie/src/main/java/routie/logging/config/DevLoggingConfig.java
  backend/spring-routie/src/main/java/routie/logging/config/LoggingConfig.java
  backend/spring-routie/src/main/java/routie/logging/config/ProdLoggingConfig.java
  backend/spring-routie/src/main/java/routie/logging/domain/LogDataBuilder.java
  backend/spring-routie/src/main/java/routie/logging/domain/LoggingContext.java
  backend/spring-routie/src/main/java/routie/logging/domain/LoggingField.java
  backend/spring-routie/src/main/java/routie/logging/domain/LoggingStrategy.java
  backend/spring-routie/src/main/java/routie/logging/extractor/HandlerParametersExtractor.java
  backend/spring-routie/src/main/java/routie/logging/extractor/dto/HandlerParameter.java
  backend/spring-routie/src/main/java/routie/logging/infrastructure/ClientRequestLogger.java
  backend/spring-routie/src/main/java/routie/logging/infrastructure/TraceIdHolder.java
  backend/spring-routie/src/main/java/routie/logging/infrastructure/aspect/AspectLoggingContext.java
  backend/spring-routie/src/main/java/routie/logging/infrastructure/aspect/RequestLoggingAspect.java
  backend/spring-routie/src/main/java/routie/logging/infrastructure/interceptor/InterceptorLoggingContext.java
  backend/spring-routie/src/main/java/routie/logging/infrastructure/interceptor/RequestLoggingInterceptor.java
  backend/spring-routie/src/main/java/routie/logging/infrastructure/strategy/DevLoggingStrategy.java
  backend/spring-routie/src/main/java/routie/logging/infrastructure/strategy/ProdLoggingStrategy.java
  backend/spring-routie/src/main/java/routie/logging/logger/ClientRequestLogger.java
  backend/spring-routie/src/main/resources/logback-dev.xml
  backend/spring-routie/src/main/resources/logback-prod.xml
  backend/spring-routie/src/test/java/routie/logging/config/LoggingConfigTest.java
  backend/spring-routie/src/test/java/routie/logging/domain/LogDataBuilderTest.java
Labels: backend, refactor

#531 feat: 검색한 장소에 대해 결과가 있다면 도로명 또는 지번 사용하도록 구현
  frontend/src/domains/places/components/SearchAddress/SearchAddress.tsx
  frontend/src/domains/places/components/SearchBox/SearchBox.tsx
  frontend/src/domains/places/components/SearchList/SearchEmptyState.tsx
  frontend/src/domains/places/components/SearchList/SearchList.styles.ts
  frontend/src/domains/places/components/SearchList/SearchList.tsx
  frontend/src/domains/places/hooks/useSearchPlace.ts
Labels: frontend, feature

#546 chore: msw 초기 세팅
  frontend/.eslintignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/node.ts
  frontend/webpack.dev.js
Labels: frontend, chore

#549 feat: 루티 검증 api response 중간 계층 도입
  frontend/src/domains/routie/adapters/routieValidationAdapter.ts
  frontend/src/domains/routie/apis/routie.ts
  frontend/src/domains/routie/types/api.types.ts
  frontend/src/domains/routie/types/routie.types.ts
Labels: frontend, feature

#552 feat: useMovingStrategy 훅 구현
  frontend/src/domains/routie/components/SelectMovingStrategy/SelectMovingStrategy.tsx
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
  frontend/src/domains/routie/hooks/useMovingStrategy.ts
Labels: frontend, feature

#559 feat: 장소 추가/수정/삭제에 관한 토스트 메시지 표시
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
Labels: frontend, feature

#571 fix: Card에서 정의된 한 줄로 말 줄임 코드를 Text 컴포넌트로 이동하도록 수정
  frontend/src/@common/components/Card/Card.styles.ts
  frontend/src/@common/components/Text/Text.style.ts
  frontend/src/@common/components/Text/Text.types.ts
  frontend/src/domains/maps/components/PlaceOverlayCard.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
Labels: frontend, fix

#578 refactor: 동선만 보기 기능 제거
  frontend/src/domains/maps/components/KakaoMap.tsx
Labels: frontend, refactor

#574 fix: 장소카드 아이콘 수정
  frontend/src/@common/components/IconButton/IconButton.style.ts
  frontend/src/@common/components/IconButton/IconButton.types.ts
  frontend/src/assets/icons/trash-disable.svg
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
Labels: frontend, fix

#595 feat: 루티 조회 쿼리에 이동 수단 추가 및 invalid place 표시 로직 적용
  frontend/src/domains/routie/apis/routie.ts
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
Labels: frontend, feature

#584 chore: 현재 배포 버전을 확인할 수 있는 페이지 추가
  frontend/src/pages/VersionInfo/VersionInfo.tsx
  frontend/src/routes/index.tsx
  frontend/tsconfig.json
  frontend/version.d.ts
  frontend/webpack.common.js
Labels: frontend, chore

#604 fix: 대중교통 루티 조회 시작 시간이 없을 시에 현재 시각을 기반으로 계산하도록 수정
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routecalculator/transit/TransitRouteCalculator.java
Labels: backend, fix

#610 chore: coderabbit 설정 수정
  .coderabbit.yaml
Labels: backend, chore

#611 fix: 병합 과정에서 유실된 로직 복구
  frontend/src/domains/maps/components/KakaoMap.tsx
  frontend/src/domains/maps/hooks/useMapMarker.ts
  frontend/src/domains/routie/components/RoutieValidationResultCard/RoutieValidationResultCard.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, fix

#616 fix: routie.id를 이용하여 isUnavailable를 구하도록 수정
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
Labels: frontend, fix

#623 refactor: 장소 카드 브레이크 -> 브레이크 타임으로 수정
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
Labels: frontend, refactor

#632 refactor: 지도 zoom level limit 제거하도록 수정
  frontend/src/domains/maps/hooks/useKakaoMapInit.ts
Labels: frontend, refactor

#625 fix: null로 오는 google 응답 핸들링
  backend/spring-routie/src/main/java/routie/exception/ErrorCode.java
  backend/spring-routie/src/main/java/routie/place/domain/Place.java
  backend/spring-routie/src/main/java/routie/routie/domain/routievalidator/ValidationContext.java
  backend/spring-routie/src/main/java/routie/routie/domain/timeperiod/TimePeriodCalculator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routecalculator/driving/DrivingRouteCalculator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routecalculator/transit/TransitRouteCalculator.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
Labels: backend, fix

#626 refactor: 사이드바 & 시트 외곽선 적용
  frontend/src/layouts/SideSheet/SideSheet.styles.ts
  frontend/src/layouts/SideSheet/SideSheet.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, refactor

#643 fix: 루티 장소에 검증을 하지 않을 때도 출발 시간, 도착 시간이 보이도록 수정
  frontend/src/domains/routie/apis/routie.ts
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
Labels: frontend, fix

#650 fix: 도로명 주소가 없는 경우, 지번 주소가 입력되고 다음 입력 스텝으로 이동되도록 수정
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceBasicInfo.tsx
  frontend/src/domains/places/constants/step.ts
  frontend/src/domains/places/hooks/usePlaceFormValidation.ts
  frontend/src/domains/places/utils/getValidatedStep.ts
Labels: frontend, fix

#647 fix: 지도 sdk에 setTimeOut을 걸어서 잘 읽어오도록 수정
  frontend/src/domains/maps/hooks/useKakaoMapSDK.ts
Labels: frontend, fix

#633 refactor: routieTime 기본 값 추가
  frontend/src/domains/routie/components/RoutieValidationWaitingCard/RoutieValidationWaitingCard.tsx
  frontend/src/domains/routie/hooks/useRoutieTime.ts
  frontend/src/domains/routie/hooks/useRoutieValidate.ts
  frontend/src/domains/routie/types/routie.types.ts
Labels: frontend, refactor

#655 refactor: kakao app key로 변경
  frontend/public/index.html
Labels: frontend, refactor

#644 refactor: 장소를 추가하는 상황 & 마커를 클릭한 경우만 지도 이동
  frontend/src/domains/maps/components/KakaoMap.tsx
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/layouts/PlaceList/contexts/PlaceListContext.ts
  frontend/src/layouts/PlaceList/contexts/PlaceListProvider.tsx
  frontend/src/layouts/SideSheet/SideSheet.tsx
Labels: frontend, refactor

#646 refactor: 루티 스페이스 이름 UI 수정 & 예외 처리 추가
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.style.ts
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.tsx
  frontend/src/domains/routieSpace/hooks/useRoutieSpaceName.ts
Labels: frontend, refactor

#662 feat: Flyway 설정
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-prod-cd.yml
  backend/spring-routie/build.gradle
  backend/spring-routie/src/main/resources/application.yml
  backend/spring-routie/src/main/resources/db/migration/V1__init.sql
Labels: backend, feature

#658 fix: timeInput disabled condition 수정
  frontend/src/layouts/Sidebar/TimeInput.tsx
Labels: frontend, fix

#667 refactor: Sidebar UI & Design 수정
  frontend/src/@common/components/Header/Header.tsx
  frontend/src/@common/components/Header/HomeButton/HomeButton.tsx
  frontend/src/@common/components/Text/Text.style.ts
  frontend/src/@common/components/Text/Text.types.ts
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.style.ts
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.tsx
  frontend/src/layouts/Sidebar/Sidebar.styles.ts
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/layouts/Sidebar/SidebarWhenHowSection.tsx
  frontend/src/layouts/Sidebar/SidebarWhereSection.tsx
  frontend/src/styles/theme.ts
Labels: frontend, refactor

#657 fix: 도로명이 null 오는 경우, 장소 생성이 불가능하여 수정
  frontend/src/domains/places/apis/editPlace.ts
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceBasicInfo.tsx
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/places/components/PlaceFormSection/BreakTimeInputs.tsx
  frontend/src/domains/places/components/PlaceFormSection/PlaceForm.types.ts
  frontend/src/domains/places/components/SearchAddress/SearchAddress.tsx
  frontend/src/domains/places/components/SearchBox/SearchBox.tsx
  frontend/src/domains/places/components/SearchList/SearchList.tsx
  frontend/src/domains/places/hooks/useAddPlaceForm.ts
  frontend/src/domains/places/hooks/usePlaceFormValidation.ts
  frontend/src/domains/places/types/place.types.ts
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
Labels: frontend, fix

#673 fix: RoutiePlaceBuilder 필드 주입 메서드에 알맞은 파라미터 추가
  backend/spring-routie/src/test/java/routie/routie/domain/RoutiePlaceBuilder.java
Labels: backend, fix

#668 feat: useAsyncLock / useDebouncedAsync 적용으로 중복,연속 요청 방지
  frontend/src/@common/hooks/useAsyncLock.ts
  frontend/src/@common/hooks/useDebounceAsync.ts
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/routie/components/Route/RoutieRoutes.tsx
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
  frontend/src/domains/routie/hooks/useRoutieValidate.ts
Labels: frontend, feature

#671 fix: 사용자에게 상황에 맞는 에러 메세지를 토스트로 출력하도록 수정
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-prod-cd.yml
  backend/spring-routie/build.gradle
  backend/spring-routie/src/main/resources/application.yml
  backend/spring-routie/src/main/resources/db/migration/V1__init.sql
  backend/spring-routie/src/test/java/routie/place/domain/PlaceBuilder.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceFixture.java
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/routie/domain/RoutieBuilder.java
  backend/spring-routie/src/test/java/routie/routie/domain/RoutieFixture.java
  backend/spring-routie/src/test/java/routie/routie/domain/RoutiePlaceBuilder.java
  backend/spring-routie/src/test/java/routie/routie/domain/RoutiePlaceFixture.java
  backend/spring-routie/src/test/java/routie/routie/service/RoutieServiceTest.java
  backend/spring-routie/src/test/java/routie/routie/service/RoutieServiceValidationTest.java
  backend/spring-routie/src/test/java/routie/routiespace/domain/RoutieSpaceBuilder.java
  backend/spring-routie/src/test/java/routie/routiespace/domain/RoutieSpaceFixture.java
  frontend/public/index.html
  frontend/src/@common/constants/message.ts
  frontend/src/@common/types/apIResponse.type.ts
  frontend/src/apis/index.ts
  frontend/src/domains/places/apis/addPlace.ts
  frontend/src/domains/places/apis/deletePlace.ts
  frontend/src/domains/places/apis/editPlace.ts
  frontend/src/domains/places/apis/getPlace.ts
  frontend/src/domains/places/apis/getplaceList.ts
  frontend/src/domains/places/apis/searchPlace.ts
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/places/hooks/useSearchPlace.ts
  frontend/src/domains/routie/apis/routie.ts
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
  frontend/src/domains/routie/contexts/useRoutieContext.tsx
  frontend/src/domains/routie/hooks/useRoutieValidate.ts
  frontend/src/domains/routieSpace/apis/createRoutieSpace.ts
  frontend/src/domains/routieSpace/apis/routieSpaceName.ts
  frontend/src/domains/routieSpace/hooks/useRoutieSpaceName.ts
  frontend/src/layouts/PlaceList/contexts/PlaceListProvider.tsx
  frontend/src/pages/Home/hooks/useRoutieSpaceNavigation.ts
Labels: frontend, fix

#581 chore: release 태그 기반으로 frontend package.json 버전 자동 동기화 워크플로우 추가
  .github/workflows/frontend-sync-version.yml
Labels: frontend, chore

#682 fix: 루트 계산 로직 수정
  backend/spring-routie/src/main/java/routie/routie/domain/route/RouteCalculationContext.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routecalculator/driving/DrivingRouteCalculator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routecalculator/transit/TransitRouteCalculator.java
Labels: backend, fix

#686 fix: 지도 마커 카드에서 지번 주소도 보이도록 수정
  frontend/src/domains/maps/components/PlaceOverlayCard.tsx
Labels: frontend, fix

#695 fix: 잘 못된 머지로 인해 카카오맵 키가 변경되어 복구
  frontend/public/index.html
Labels: frontend, fix
