Repository woowacourse-teams/2025-routie, pull requests merged in 2025-09, with the labels that each got.

#703 chore: package-lock.json 버전 업
  frontend/package-lock.json
Labels: frontend, chore

#709 refactor: Place 엔티티 컬럼 제거
  backend/spring-routie/src/main/java/routie/exception/ErrorCode.java
  backend/spring-routie/src/main/java/routie/place/controller/PlaceController.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/request/PlaceCreateRequest.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/request/PlaceUpdateRequest.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceListResponse.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceReadResponse.java
  backend/spring-routie/src/main/java/routie/place/domain/Place.java
  backend/spring-routie/src/main/java/routie/place/service/PlaceService.java
  backend/spring-routie/src/main/java/routie/routie/domain/timeperiod/TimePeriodCalculator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievalidator/BreaktimeValidator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievalidator/ClosedDayValidator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievalidator/OperationHoursValidator.java
  backend/spring-routie/src/main/resources/db/migration/V2__remove_place_business_hours_and_related_fields.sql
  backend/spring-routie/src/test/java/routie/place/controller/PlaceControllerTest.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceBuilder.java
  backend/spring-routie/src/test/java/routie/place/domain/PlaceTest.java
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/BreaktimeValidatorTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/ClosedDayValidatorTest.java
  backend/spring-routie/src/test/java/routie/routie/infrastructure/routievalidator/OperationHoursValidatorTest.java
  backend/spring-routie/src/test/java/routie/routie/service/RoutieServiceValidationTest.java
  backend/spring-routie/src/test/java/routie/routiespace/controller/RoutieSpaceControllerTest.java
Labels: backend, refactor

#730 chore: Tanstack Query 초기 세팅
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/index.tsx
Labels: frontend, chore

#733 fix: 워크플로우에 포함된 쉘 명령어 오타 수정
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-prod-cd.yml
Labels: backend, fix

#734 feat: 장소 도메인 마이그레이션
  frontend/src/domains/maps/components/KakaoMap/KakaoMap.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/places/components/SearchPlace/SearchPlace.tsx
  frontend/src/domains/places/contexts/PlaceList/PlaceListContext.ts
  frontend/src/domains/places/contexts/PlaceList/PlaceListProvider.tsx
  frontend/src/domains/places/hooks/usePlaceList.ts
  frontend/src/domains/places/hooks/useSearchPlace.ts
  frontend/src/domains/places/queries/key.ts
  frontend/src/domains/places/queries/usePlaceQuery.ts
  frontend/src/domains/places/types/place.types.ts
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
  frontend/src/layouts/SideSheet/SideSheet.tsx
  frontend/src/pages/RoutieSpace/RoutieSpace.tsx
Labels: frontend, feature

#740 refactor: routie 도메인 코드 구조 리팩터링
  frontend/src/@common/hooks/useToastOnError.ts
  frontend/src/domains/routie/adapters/routieAdapter.ts
  frontend/src/domains/routie/apis/routie.ts
  frontend/src/domains/routie/components/EmptyRoutieMessage/EmptyRoutieMessage.tsx
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
  frontend/src/domains/routie/components/RoutieSection/RoutieSection.tsx
  frontend/src/domains/routie/contexts/RoutieProvider.tsx
  frontend/src/domains/routie/contexts/useRoutieContext.ts
  frontend/src/domains/routie/hooks/useRoutieList.ts
  frontend/src/domains/routie/queries/useRoutieQuery.ts
  frontend/src/pages/RoutieSpace/RoutieSpace.tsx
Labels: frontend, refactor

#742 refactor: 공통 컴포넌트 개선
  frontend/src/@common/components/Button/Button.style.ts
  frontend/src/@common/components/Button/Button.tsx
  frontend/src/@common/components/Button/Button.types.ts
  frontend/src/@common/components/Card/Card.styles.ts
  frontend/src/@common/components/Card/Card.tsx
  frontend/src/@common/components/Card/Card.types.ts
  frontend/src/@common/components/EmptyMessage/EmptyMessage.tsx
  frontend/src/@common/components/Flex/Flex.style.ts
  frontend/src/@common/components/Flex/Flex.types.ts
  frontend/src/@common/components/Header/Header.tsx
  frontend/src/@common/components/Pill/Pill.style.ts
  frontend/src/@common/components/Pill/Pill.tsx
  frontend/src/@common/components/Pill/Pill.types.ts
  frontend/src/@common/components/Text/Text.style.ts
  frontend/src/@common/components/Text/Text.types.ts
  frontend/src/@common/components/Toast/Toast.tsx
  frontend/src/domains/maps/components/KakaoMap/KakaoMap.tsx
  frontend/src/domains/maps/components/PlaceOverlayCard/PlaceOverlayCard.tsx
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/places/components/SearchAddress/SearchAddress.tsx
  frontend/src/domains/places/components/SearchBox/SearchBox.tsx
  frontend/src/domains/places/components/SearchList/SearchList.styles.ts
  frontend/src/domains/places/components/SearchPlace/SearchPlace.tsx
  frontend/src/domains/routie/components/RoutiePlaceCard/RoutiePlaceCard.tsx
  frontend/src/domains/routie/components/RoutieSection/RoutieSection.tsx
  frontend/src/domains/routie/queries/useRoutieQuery.ts
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.tsx
  frontend/src/layouts/SideSheet/SideSheet.tsx
  frontend/src/layouts/Sidebar/ShareLinkButtonSection.tsx
  frontend/src/layouts/Sidebar/SidebarWhereSection.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Home/components/InfoCard/InfoCard.tsx
Labels: frontend, refactor

#745 refactor: Map 도메인 리팩터링
  frontend/src/@common/contexts/ToastProvider.tsx
  frontend/src/domains/maps/components/KakaoMap/KakaoMap.tsx
  frontend/src/domains/maps/components/PlaceOverlayCard/PlaceOverlayCard.tsx
  frontend/src/domains/maps/hooks/useClickedPlace.ts
  frontend/src/domains/maps/hooks/useCustomOverlay.ts
  frontend/src/domains/maps/hooks/useKakaoMapInit.ts
  frontend/src/domains/maps/hooks/useKakaoMapSDK.ts
  frontend/src/domains/maps/hooks/useMapMarkerControl.ts
  frontend/src/domains/maps/hooks/useMapNavigation.ts
  frontend/src/domains/maps/hooks/useMapRenderer.ts
  frontend/src/domains/maps/hooks/useMapState.ts
  frontend/src/domains/maps/hooks/useMarkerRenderer.ts
  frontend/src/domains/maps/hooks/usePolyline.ts
  frontend/src/domains/maps/hooks/usePolylineRenderer.ts
  frontend/src/domains/maps/hooks/useRoutePlacesWithDetails.ts
  frontend/src/domains/maps/types/Overlay.types.ts
  frontend/src/domains/maps/types/PlaceOverlayCard.types.ts
  frontend/src/domains/maps/types/api.types.ts
  frontend/src/domains/maps/types/map.types.ts
Labels: frontend, refactor

#724 refactor: 예외 핸들러 구조화 및, 누락된 기본 예외 핸들러 추가
  backend/spring-routie/src/main/java/routie/business/place/application/PlaceService.java
  backend/spring-routie/src/main/java/routie/business/place/domain/Place.java
  backend/spring-routie/src/main/java/routie/business/place/domain/PlaceClosedDayOfWeek.java
  backend/spring-routie/src/main/java/routie/business/place/domain/SearchedPlace.java
  backend/spring-routie/src/main/java/routie/business/place/infrastructure/search/PlaceSearcherComposite.java
  backend/spring-routie/src/main/java/routie/business/place/infrastructure/search/kakao/KakaoPlaceSearcher.java
  backend/spring-routie/src/main/java/routie/business/place/infrastructure/search/kakao/api/config/error/KakaoPlaceSearchApiErrorHandler.java
  backend/spring-routie/src/main/java/routie/business/place/infrastructure/search/kakao/api/dto/request/KakaoPlaceSearchApiRequest.java
  backend/spring-routie/src/main/java/routie/business/place/infrastructure/search/vworld/VWorldPlaceSearcher.java
  backend/spring-routie/src/main/java/routie/business/place/infrastructure/search/vworld/api/config/HttpResponseBodyCachingInterceptor.java
  backend/spring-routie/src/main/java/routie/business/place/infrastructure/search/vworld/api/config/VWorldPlaceSearchApiClientErrorHandler.java
  backend/spring-routie/src/main/java/routie/business/place/infrastructure/search/vworld/api/dto/request/VWorldPlaceSearchApiRequest.java
  backend/spring-routie/src/main/java/routie/business/routie/application/RoutieService.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/Routie.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/RoutiePlace.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/route/Route.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/route/Routes.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/routievalidator/ValidationContext.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/routievalidator/ValidationResult.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/timeperiod/TimePeriod.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/timeperiod/TimePeriodCalculator.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/timeperiod/TimePeriods.java
  backend/spring-routie/src/main/java/routie/business/routie/infrastructure/routecalculator/RouteCalculatorComposite.java
  backend/spring-routie/src/main/java/routie/business/routie/infrastructure/routecalculator/driving/DrivingRouteCalculator.java
  backend/spring-routie/src/main/java/routie/business/routie/infrastructure/routecalculator/driving/kakaodrivingapi/KakaoDrivingRouteApiClientConfig.java
  backend/spring-routie/src/main/java/routie/business/routie/infrastructure/routecalculator/transit/TransitRouteCalculator.java
  backend/spring-routie/src/main/java/routie/business/routie/infrastructure/routecalculator/transit/googletransitapi/GoogleTransitRouteApiClientConfig.java
  backend/spring-routie/src/main/java/routie/business/routie/infrastructure/routievalidator/RoutieValidatorComposite.java
  backend/spring-routie/src/main/java/routie/business/routiespace/application/RoutieSpaceService.java
  backend/spring-routie/src/main/java/routie/business/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/main/java/routie/business/routiespace/ui/RoutieSpaceController.java
  backend/spring-routie/src/main/java/routie/global/exception/GlobalExceptionHandler.java
  backend/spring-routie/src/main/java/routie/global/exception/domain/BusinessException.java
  backend/spring-routie/src/main/java/routie/global/exception/domain/ErrorCode.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/config/ExceptionHandlerPostProcessor.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/expected/business/BusinessExceptionHandler.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/expected/handlermethod/validation/HandlerMethodValidationExceptionHandler.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/expected/handlermethod/validation/MethodArgumentTypeMismatchExceptionHandler.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/expected/handlermethod/validation/MissingServletRequestParameterExceptionHandler.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/expected/http/HttpMessageNotReadableExceptionHandler.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/expected/http/NoResourceFoundExceptionHandler.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/fallback/ExceptionHandleFallbackAspect.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/logger/ExceptionLogger.java
  backend/spring-routie/src/main/java/routie/global/exception/infrastructure/unexpected/UnexpectedExceptionHandler.java
  backend/spring-routie/src/main/java/routie/global/logging/infrastructure/aspect/RequestLoggingAspect.java
  backend/spring-routie/src/main/resources/logback-dev.xml
  backend/spring-routie/src/main/resources/logback-prod.xml
  backend/spring-routie/src/test/java/routie/business/place/domain/PlaceTest.java
  backend/spring-routie/src/test/java/routie/business/routie/application/RoutieServiceTest.java
  backend/spring-routie/src/test/java/routie/business/routie/ui/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/business/routie/ui/v1/RoutieControllerV1Test.java
  backend/spring-routie/src/test/java/routie/global/exception/infrastructure/config/ExceptionHandlerPostProcessorTest.java
Labels: backend, refactor

#782 feat: 유저 엔티티 구현
  backend/spring-routie/src/main/java/routie/business/routiespace/application/RoutieSpaceService.java
  backend/spring-routie/src/main/java/routie/business/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/main/java/routie/business/user/domain/OAuthProvider.java
  backend/spring-routie/src/main/java/routie/business/user/domain/User.java
  backend/spring-routie/src/main/java/routie/business/user/domain/UserRepository.java
  backend/spring-routie/src/main/java/routie/global/exception/domain/ErrorCode.java
  backend/spring-routie/src/main/resources/db/migration/V1__init.sql
  backend/spring-routie/src/main/resources/db/migration/V3__add_users_table.sql
  backend/spring-routie/src/test/java/routie/business/place/domain/PlaceTest.java
  backend/spring-routie/src/test/java/routie/business/place/ui/PlaceControllerTest.java
  backend/spring-routie/src/test/java/routie/business/place/ui/v1/PlaceControllerV1Test.java
  backend/spring-routie/src/test/java/routie/business/routie/application/RoutieServiceTest.java
  backend/spring-routie/src/test/java/routie/business/routie/application/RoutieServiceValidationTest.java
  backend/spring-routie/src/test/java/routie/business/routie/ui/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/business/routie/ui/v1/RoutieControllerV1Test.java
  backend/spring-routie/src/test/java/routie/business/routiespace/domain/RoutieSpaceBuilder.java
  backend/spring-routie/src/test/java/routie/business/user/domain/UserBuilder.java
  backend/spring-routie/src/test/java/routie/business/user/domain/UserFixture.java
Labels: backend, feature

#790 feat: 카카오 로그인 콜백 페이지 구현
  frontend/src/@common/components/Spinner/Spinner.style.ts
  frontend/src/@common/components/Spinner/Spinner.tsx
  frontend/src/@common/components/Spinner/Spinner.types.ts
  frontend/src/pages/KakaoAuthCallback/KakaoAuthCallback.tsx
  frontend/src/routes/index.tsx
Labels: frontend, feature

#803 feat: 인증 아키텍쳐 구현
  backend/spring-routie/src/main/java/routie/business/authentication/domain/jwt/JwtProcessor.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/AuthenticatedUser.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/config/AuthenticationArgumentConfig.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/interceptor/AuthenticationInterceptor.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/resolver/AuthenticatedUserArgumentResolver.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/jwt/JwtParser.java
  backend/spring-routie/src/main/java/routie/global/exception/domain/ErrorCode.java
Labels: backend, feature

#807 feat: 사용자 정보 조회 API 구현
  backend/spring-routie/src/main/java/routie/business/user/ui/dto/response/UserInformationResponse.java
  backend/spring-routie/src/main/java/routie/business/user/ui/v1/UserControllerV1.java
Labels: backend, feature

#808 feat: 루티스페이스 추가/수정 로그인 권한 로직 적용
  backend/spring-routie/src/main/java/routie/business/routiespace/application/RoutieSpaceService.java
  backend/spring-routie/src/main/java/routie/business/routiespace/ui/v2/RoutieSpaceControllerV2.java
  backend/spring-routie/src/main/java/routie/global/exception/domain/ErrorCode.java
Labels: backend, feature

#809 feat: 카카오 로그인 API 연동 및 로그인, 로그아웃 기능 구현
  frontend/src/domains/auth/adapters/authAdapter.ts
  frontend/src/domains/auth/apis/login.ts
  frontend/src/domains/auth/components/LoginModal/LoginModal.tsx
  frontend/src/domains/auth/components/UserMenuButton/UserMenuButton.tsx
  frontend/src/domains/auth/hooks/useLogout.ts
  frontend/src/domains/auth/queries/key.ts
  frontend/src/domains/auth/queries/useAuthQuery.ts
  frontend/src/domains/auth/types/api.types.ts
  frontend/src/domains/auth/types/auth.types.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/KakaoAuthCallback/KakaoAuthCallback.tsx
Labels: frontend, feature

#818 refactor: 토큰이 존재하는 경우에만 루티 스페이스 수정 버튼이 보이게 수정
  frontend/src/@common/constants/message.ts
  frontend/src/domains/routieSpace/apis/routieSpace.ts
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.tsx
  frontend/src/domains/routieSpace/hooks/useRoutieSpace.ts
Labels: frontend, refactor

#823 feat: 수정 권한 없음 에러 메시지 추가
  frontend/src/@common/constants/message.ts
Labels: frontend, feature

#829 feat: 장소 좋아요 기능 추가
  backend/spring-routie/src/main/java/routie/business/like/application/PlaceLikeService.java
  backend/spring-routie/src/main/java/routie/business/like/domain/PlaceLike.java
  backend/spring-routie/src/main/java/routie/business/like/domain/PlaceLikeRepository.java
  backend/spring-routie/src/main/java/routie/business/like/ui/v1/PlaceLikeControllerV1.java
  backend/spring-routie/src/main/java/routie/business/place/application/PlaceService.java
  backend/spring-routie/src/main/java/routie/business/place/ui/dto/response/PlaceListResponseV2.java
  backend/spring-routie/src/main/java/routie/business/place/ui/v2/PlaceControllerV2.java
  backend/spring-routie/src/main/resources/db/migration/V8__add_place_likes_table.sql
  backend/spring-routie/src/test/java/routie/business/like/domain/PlaceLikeBuilder.java
  backend/spring-routie/src/test/java/routie/business/like/domain/PlaceLikeFixture.java
  backend/spring-routie/src/test/java/routie/business/like/ui/v1/PlaceLikeControllerV1Test.java
  backend/spring-routie/src/test/java/routie/business/place/ui/v2/PlaceControllerV2Test.java
Labels: backend, feature

#838 feat: 내 루티 스페이스 목록 조회 API 추가
  backend/spring-routie/src/main/java/routie/business/routiespace/application/RoutieSpaceService.java
  backend/spring-routie/src/main/java/routie/business/routiespace/domain/RoutieSpaceRepository.java
  backend/spring-routie/src/main/java/routie/business/routiespace/ui/dto/response/RoutieSpaceListResponse.java
  backend/spring-routie/src/main/java/routie/business/routiespace/ui/v1/RoutieSpaceControllerV1.java
  backend/spring-routie/src/test/java/routie/business/routiespace/ui/v1/RoutieSpaceControllerV1Test.java
Labels: backend, feature
