Repository woowacourse-teams/2025-routie, pull requests merged in 2025-07, with the labels that each got.

#10 chore: Discord PR 알람 기능 추가
  backend/spring-routie/.github/workflows/discord-notification.yml
Labels: 🔧 Chore

#11 fix: 워크플로우 파일 경로 수정
  .github/workflows/discord-notification.yml
Labels: 🐛 Fix

#12 Chore/setup design system #9
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/fonts/PretendardVariable.woff2
  frontend/src/App.tsx
  frontend/src/styles/font.css
  frontend/src/styles/global.css
  frontend/src/styles/reset.css
  frontend/src/styles/theme.ts
  frontend/webpack.config.js
Labels: 🎨 frontend, 🔧 chore

#22 feat: Flex 컴포넌트 구현
  frontend/src/@common/components/Flex/Flex.style.ts
  frontend/src/@common/components/Flex/Flex.tsx
Labels: frontend, feature

#24 chore: .editorconfig에서 사용하지 않는 파일 형식 제거
  backend/spring-routie/.editorconfig
Labels: backend, chore

#30 chore: Issue 사이드바 자동 설정 기능 추가
  .github/workflows/setup-open-issue.yml
Labels: backend, chore

#39 fix: Discord PR 알람 기능 트리거 기준 수정
  .github/workflows/discord-notification.yml
Labels: backend, fix

#37 chore: PR 템플릿에 Closes 옵션 추가
  .github/pull_request_template.md
Labels: backend, chore

#31 feat: button 컴포넌트 구현
  frontend/src/@common/components/Button/Button.style.ts
  frontend/src/@common/components/Button/Button.tsx
Labels: frontend, feature

#40 feat: Input 컴포넌트 구현
  frontend/src/@common/components/Input/Input.style.ts
  frontend/src/@common/components/Input/Input.tsx
  frontend/src/assets/icons/clock.svg
  frontend/src/assets/icons/search.svg
Labels: frontend, feature

#33 feat: Modal 컴포넌트 구현
  frontend/src/@common/components/Modal/Modal.style.ts
  frontend/src/@common/components/Modal/Modal.tsx
Labels: frontend, feature

#48 style: 코드 포맷팅 적용
  frontend/src/@common/components/Button/Button.style.ts
  frontend/src/@common/components/Input/Input.style.ts
  frontend/src/@common/components/Input/Input.tsx
  frontend/src/@common/components/Modal/Modal.tsx
  frontend/src/@common/components/Text/Text.style.ts
  frontend/src/assets/fonts/PretendardVariable.woff2
  frontend/src/styles/font.css
Labels: frontend, style

#88 feat: Card 컴포넌트에 width와 height 속성 추가
  frontend/src/@common/components/Card/Card.styles.ts
  frontend/src/@common/components/Card/Card.tsx
  frontend/src/@common/components/Card/Card.types.ts
  frontend/src/styles/global.css
  frontend/src/styles/reset.css
Labels: frontend, feature

#108 feat: 엔티티 별 레포지토리 생성
  backend/spring-routie/src/main/java/routie/place/repository/PlaceClosedWeekdayRepository.java
  backend/spring-routie/src/main/java/routie/place/repository/PlaceRepository.java
  backend/spring-routie/src/main/java/routie/routie/repository/RoutiePlaceRepository.java
  backend/spring-routie/src/main/java/routie/routie/repository/RoutieRepository.java
  backend/spring-routie/src/main/java/routie/routiespace/repository/RoutieSpaceRepository.java
Labels: backend, feature

#115 feat: Pill 공통 컴포넌트 구현
  frontend/src/@common/components/Pill/Pill.style.ts
  frontend/src/@common/components/Pill/Pill.tsx
  frontend/src/@common/components/Pill/Pill.types.ts
Labels: frontend, feature

#114 feat: 루티 스페이스 생성 API 구현
  backend/spring-routie/build.gradle
  backend/spring-routie/src/main/java/routie/routiespace/controller/RoutieSpaceController.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpaceIdentifierProvider.java
  backend/spring-routie/src/main/java/routie/routiespace/infrastructure/RandomRoutieSpaceIdentifierProvider.java
  backend/spring-routie/src/main/java/routie/routiespace/infrastructure/UUIDBaseRandomRoutieSpaceIdentifierProvider.java
  backend/spring-routie/src/main/java/routie/routiespace/service/RoutieSpaceService.java
  backend/spring-routie/src/test/java/routie/RoutieApplicationTests.java
  backend/spring-routie/src/test/java/routie/routiespace/controller/RoutieSpaceControllerTest.java
Labels: backend, feature

#120 feat: 루티 스페이스 이름 수정 API 구현
  backend/spring-routie/build.gradle
  backend/spring-routie/src/main/java/routie/routiespace/controller/RoutieSpaceController.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/request/UpdateRoutieSpaceNameRequest.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/response/UpdateRoutieSpaceNameResponse.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/main/java/routie/routiespace/exception/RoutieSpaceExceptionHandler.java
  backend/spring-routie/src/main/java/routie/routiespace/repository/RoutieSpaceRepository.java
  backend/spring-routie/src/main/java/routie/routiespace/service/RoutieSpaceService.java
Labels: backend, feature

#121 feat: 루티 스페이스 이름 컴포넌트 구현
  frontend/src/@common/components/IconButton/IconButton.style.ts
  frontend/src/@common/components/IconButton/IconButton.tsx
  frontend/src/@common/components/IconButton/IconButton.types.ts
  frontend/src/assets/icons/edit.svg
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.style.ts
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.tsx
Labels: frontend, feature

#131 chore: CI 트리거 조건 수정
  .github/workflows/backend-dev-ci.yml
Labels: backend, chore

#138 feat: 루티 장소 컴포넌트 구현
  frontend/src/@common/components/Card/Card.styles.ts
  frontend/src/@common/components/Card/Card.types.ts
  frontend/src/@common/components/IconButton/IconButton.style.ts
  frontend/src/@common/components/IconButton/IconButton.types.ts
  frontend/src/assets/icons/drag.svg
  frontend/src/domains/routie/components/RoutiePlaceCard.tsx
Labels: frontend, feature

#136 feat: 홈페이지 UI 구현
  frontend/src/@common/components/Header/Header.style.ts
  frontend/src/@common/components/Header/Header.tsx
  frontend/src/pages/Home/Home.tsx
Labels: frontend, feature

#142 feat: 장소 추가 폼 모달 구현
  frontend/src/@common/components/Button/Button.style.ts
  frontend/src/@common/components/Button/Button.tsx
  frontend/src/@common/components/Button/Button.types.ts
  frontend/src/assets/icons/close.svg
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.styles.ts
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModalButtons.tsx
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModalHeader.tsx
  frontend/src/domains/places/components/PlaceFormSection/OptionalInfoSection.tsx
  frontend/src/domains/places/components/PlaceFormSection/PlaceForm.types.ts
  frontend/src/domains/places/components/PlaceFormSection/RequiredInfoSection.tsx
  frontend/src/domains/places/hooks/useAddPlaceForm.ts
Labels: frontend, feature

#135 feat: 장소 간 이동 거리 및 시간 계산 기능 구현
  backend/spring-routie/src/main/java/routie/place/domain/DistanceCalculator.java
  backend/spring-routie/src/main/java/routie/place/domain/MovingStrategy.java
  backend/spring-routie/src/main/java/routie/place/domain/TravelTimeCalculator.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/distancecalculator/DistanceCalculatorComposite.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/distancecalculator/DistanceCalculatorConfig.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/distancecalculator/FakeDrivingDistanceCalculator.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/traveltimecalculator/FakeDrivingTravelTimeCalculator.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/traveltimecalculator/TravelTimeCalculatorComposite.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/traveltimecalculator/TravelTimeCalculatorConfig.java
Labels: backend, feature

#149 feat: 사이드바 레이아웃 구현
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/layouts/Sidebar/TimeInput.tsx
Labels: frontend, feature

#152 feat: 장소 목록 레이아웃 구현
  frontend/src/layouts/PlaceList/PlaceList.tsx
Labels: frontend, feature

#157 Revert "fix: 엔티티 컬럼 위치 수정"
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceReadResponse.java
  backend/spring-routie/src/main/java/routie/place/domain/Place.java
  backend/spring-routie/src/main/java/routie/place/service/PlaceService.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/request/RoutieUpdateRequest.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/response/RoutieUpdateResponse.java
  backend/spring-routie/src/main/java/routie/routie/domain/RoutiePlace.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
  backend/spring-routie/src/main/resources/schema.sql
  backend/spring-routie/src/test/java/routie/place/controller/PlaceControllerTest.java
Labels: backend

#161 chore: dev 환경에서만 동작하는 cors 설정 추가
  backend/spring-routie/src/main/java/routie/auth/config/WebMvcConfig.java
Labels: backend, chore

#171 chore: 프론트엔드에서 응답의 Location 헤더를 읽을 수 있는 권한 추가
  backend/spring-routie/src/main/java/routie/auth/config/WebMvcConfig.java
Labels: backend, fix

#166 feat: 장소 정보 수정 모달 컴포넌트 구현
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModalButtons.tsx
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModalHeader.tsx
  frontend/src/domains/places/components/PlaceFormSection/PlaceForm.types.ts
  frontend/src/domains/places/components/PlaceFormSection/RequiredInfoSection.tsx
  frontend/src/domains/places/hooks/useAddPlaceForm.ts
Labels: frontend, feature

#168 refactor: 폼 제출 시 모달 닫히도록 수정, UI 중복 요소 제거, 휴무일 데이터 서버 전송 전 영문 요일 리스트로 변환
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModalButtons.tsx
Labels: frontend, refactor

#178 feat: 루티 스페이스 페이지 구현
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/pages/RoutieSpace/RoutieSpace.tsx
Labels: frontend, feature

#187 feat: 장소 수정하기 버튼과 모달 연결
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/layouts/PlaceList/PlaceList.tsx
Labels: frontend, feature

#189 feat: 루티 스페이스 이름 조회 및 수정 api 연결
  frontend/src/apis/index.ts
  frontend/src/domains/routieSpace/apis/routieSpaceName.ts
  frontend/src/domains/routieSpace/components/RoutieSpaceName/RoutieSpaceName.tsx
Labels: frontend, feature

#196 feat: 루티 스페이스 생성 시 루티 하나가 함께 추가되도록 구현
  backend/spring-routie/src/main/java/routie/routie/domain/Routie.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpace.java
Labels: backend, feature

#198 feat: 루티 스페이스의 전체 루티 조회 API 구현
  backend/spring-routie/src/main/java/routie/routiespace/controller/RoutieSpaceController.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/response/RoutiesResponse.java
  backend/spring-routie/src/main/java/routie/routiespace/service/RoutieSpaceService.java
Labels: backend, feature

#199 feat: 토글 상태에 따른 UI 구현
  frontend/src/domains/routie/components/RoutieValidationResultCard/RoutieValidationResultCard.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/layouts/Sidebar/TimeInput.tsx
Labels: frontend, feature

#200 feat: 장소 추가 모달과 장소 추가 api 연결
  frontend/src/domains/places/apis/addPlace.ts
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
Labels: frontend, feature

#208 feat: 장소 수정을 위해 선택된 장소의 데이터를 조회하는 api 연결
  frontend/src/domains/places/apis/getPlace.ts
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
Labels: frontend, feature

#210 hotfix: 장소 수정 시 특정 경우에 에러 발생하는 문제 해결
  backend/spring-routie/src/main/java/routie/docs/config/SwaggerConfig.java
  backend/spring-routie/src/main/java/routie/place/domain/PlaceClosedWeekday.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpace.java
Labels: backend, hotfix

#215 fix: 루티 상세 조회 기능 API 명세에 맞게 수정
  backend/spring-routie/src/main/java/routie/routie/controller/dto/response/RoutieReadResponse.java
  backend/spring-routie/src/main/java/routie/routie/domain/route/RouteCalculator.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
Labels: backend, fix

#211 feat: 장소 수정 모달에 장소 수정 api 연결
  frontend/src/domains/places/apis/editPlace.ts
  frontend/src/domains/places/components/EditPlaceModal/EditPlaceModal.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/layouts/PlaceList/PlaceList.tsx
Labels: frontend, feature

#219 chore: ESLint 규칙 경고로 변경 및 Vitest 설정 추가
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/__test__/pass.test.ts
  frontend/tsconfig.json
  frontend/vitest.config.ts
Labels: frontend, chore

#224 chore: 프로젝트 설정 파일 수정
  frontend/package.json
  frontend/tsconfig.json
  frontend/vitest.config.mts
Labels: frontend, chore

#220 feat: 장소 추가시 장소 목록을 업데이트 하기 위한 상태 끌어올리기
  frontend/src/domains/places/components/AddPlaceModal/AddPlaceModal.tsx
  frontend/src/layouts/PlaceList/PlaceList.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/pages/RoutieSpace/RoutieSpace.tsx
Labels: frontend, feature

#228 hotfix: 루티 수정 호출 시 기존 루티 플레이스들을 삭제
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
Labels: backend, hotfix

#230 refactor: 장소 간 이동 거리 계산 Mock 데이터 변경
  backend/spring-routie/src/main/java/routie/place/infrastructure/traveltimecalculator/FakeDrivingTravelTimeCalculator.java
Labels: backend, refactor

#232 feat: 장소 선택 기능 api 연동
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/routie/apis/routie.ts
  frontend/src/domains/routie/components/RoutieValidationUnavailableCard/RoutieValidationUnavailableCard.tsx
  frontend/src/layouts/PlaceList/PlaceList.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
  frontend/src/pages/RoutieSpace/RoutieSpace.tsx
Labels: frontend, feature

#238 refactor: 동선 검증 로직 개선
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievaliditycalculator/BreaktimeValidityCalculator.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
Labels: backend, refactor

#242 refactor: 간단한 백엔드 코드 리팩터링
  backend/spring-routie/src/main/java/routie/auth/config/WebMvcConfig.java
  backend/spring-routie/src/main/java/routie/docs/config/SwaggerConfig.java
  backend/spring-routie/src/main/java/routie/place/controller/PlaceController.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/request/PlaceUpdateRequest.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceReadResponse.java
  backend/spring-routie/src/main/java/routie/place/domain/DistanceCalculator.java
  backend/spring-routie/src/main/java/routie/place/domain/PlaceClosedWeekday.java
  backend/spring-routie/src/main/java/routie/place/domain/TravelTimeCalculator.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/distancecalculator/DistanceCalculatorComposite.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/distancecalculator/FakeDrivingDistanceCalculator.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/traveltimecalculator/FakeDrivingTravelTimeCalculator.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/traveltimecalculator/TravelTimeCalculatorComposite.java
  backend/spring-routie/src/main/java/routie/place/service/PlaceService.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/request/RoutieUpdateRequest.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievaliditycalculator/ClosedDayValidityCalculator.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievaliditycalculator/ValidityCalculatorComposite.java
  backend/spring-routie/src/main/java/routie/routie/infrastructure/routievaliditycalculator/ValidityCalculatorConfig.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/RoutieSpaceController.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/request/PlaceCreateRequest.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/request/RoutieSpaceNameRequest.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/request/RoutieSpaceNameUpdateRequest.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/request/UpdateRoutieSpaceNameRequest.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/response/PlaceListResponse.java
  backend/spring-routie/src/main/java/routie/routiespace/service/RoutieSpaceService.java
Labels: backend, refactor

#264 refactor: sidebar 내부 비동기 처리가 필요한 로직에 누락된 await 적용
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, refactor

#260 refactor: 루티를 테이블에서 제거, API 리팩터링
  backend/spring-routie/src/main/java/routie/place/controller/PlaceController.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/request/PlaceCreateRequest.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceCreateResponse.java
  backend/spring-routie/src/main/java/routie/place/controller/dto/response/PlaceListResponse.java
  backend/spring-routie/src/main/java/routie/place/domain/PlaceClosedDayOfWeek.java
  backend/spring-routie/src/main/java/routie/place/infrastructure/distancecalculator/DistanceCalculatorConfig.java
  backend/spring-routie/src/main/java/routie/place/repository/PlaceRepository.java
  backend/spring-routie/src/main/java/routie/place/service/PlaceService.java
  backend/spring-routie/src/main/java/routie/routie/controller/RoutieController.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/request/RoutieUpdateRequest.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/response/RoutieReadResponse.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/response/RoutieUpdateResponse.java
  backend/spring-routie/src/main/java/routie/routie/domain/Routie.java
  backend/spring-routie/src/main/java/routie/routie/repository/RoutieRepository.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/RoutieSpaceController.java
  backend/spring-routie/src/main/java/routie/routiespace/controller/dto/response/RoutiesResponse.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/main/java/routie/routiespace/service/RoutieSpaceService.java
  backend/spring-routie/src/test/java/routie/place/controller/PlaceControllerTest.java
Labels: backend, refactor

#269 refactor: 루티 Entity 제거에 따른 테스트 코드 리팩터링
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/routie/service/RoutieServiceValidationTest.java
  backend/spring-routie/src/test/java/routie/routiespace/domain/RoutieSpaceFixture.java
Labels: backend, refactor

#292 feat: 루티 조회 시 응답 추가
  backend/spring-routie/src/main/java/routie/routie/controller/RoutieController.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/response/RoutieReadResponse.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
Labels: backend, feature

#303 feat: 루티 장소 추가 api 구현
  backend/spring-routie/src/main/java/routie/routie/controller/RoutieController.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/request/RoutiePlaceCreateRequest.java
  backend/spring-routie/src/main/java/routie/routie/controller/dto/response/RoutiePlaceCreateResponse.java
  backend/spring-routie/src/main/java/routie/routie/domain/Routie.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
Labels: backend, feature

#309 refactor: 루티 테이블 제거에 따른 루티 장소 테이블 컬럼명 변경
  backend/spring-routie/src/main/java/routie/routie/domain/Routie.java
Labels: backend, refactor

#300 refactor: 일정 시작, 종료 시간 입력 제한 추가
  frontend/src/@common/components/Input/Input.tsx
  frontend/src/@common/utils/format.ts
  frontend/src/domains/routie/contexts/useRoutieValidateContext.tsx
  frontend/src/domains/routie/hooks/useRoutieValidate.ts
  frontend/src/layouts/Sidebar/TimeInput.tsx
Labels: frontend, refactor

#318 feat: 루티 장소 삭제 api 구현
  backend/spring-routie/src/main/java/routie/routie/controller/RoutieController.java
  backend/spring-routie/src/main/java/routie/routie/domain/Routie.java
  backend/spring-routie/src/main/java/routie/routie/domain/RoutiePlace.java
  backend/spring-routie/src/main/java/routie/routie/service/RoutieService.java
  backend/spring-routie/src/main/java/routie/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/test/java/routie/routie/controller/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/routiespace/domain/RoutieSpaceFixture.java
Labels: backend, feature

#311 refactor: 장소 카드 리팩토링
  frontend/src/@common/hooks/useModal.ts
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/places/hooks/usePlaceCard.ts
  frontend/src/domains/places/types/place.types.ts
Labels: frontend, refactor

#315 refactor: 검증 요청 시점 제한 추가
  frontend/src/domains/routie/hooks/useRoutieValidate.ts
  frontend/src/layouts/PlaceList/PlaceList.tsx
  frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: frontend, refactor

#327 chore: application.yml의 ddl-auto 환경 변수로 수정
  backend/spring-routie/.env.example
  backend/spring-routie/src/main/resources/application.yml
Labels: backend, chore
