Repository woowacourse-teams/2025-routie, pull requests merged in 2025-10, with the labels that each got.

#839 feat: 내 루티 스페이스 삭제 API 추가
  backend/spring-routie/src/main/java/routie/business/routiespace/application/RoutieSpaceService.java
  backend/spring-routie/src/main/java/routie/business/routiespace/ui/v1/RoutieSpaceControllerV1.java
  backend/spring-routie/src/test/java/routie/business/routiespace/ui/v1/RoutieSpaceControllerV1Test.java
Labels: backend, feature

#841 feat: 장소에 좋아요 기능 추가
  frontend/src/@common/components/IconSvg/allIcons.ts
  frontend/src/assets/icons/thumbs-up.svg
  frontend/src/domains/places/adapters/placeAdapter.ts
  frontend/src/domains/places/apis/place.ts
  frontend/src/domains/places/components/LikeButton/LikeButton.stories.tsx
  frontend/src/domains/places/components/LikeButton/LikeButton.styles.ts
  frontend/src/domains/places/components/LikeButton/LikeButton.tsx
  frontend/src/domains/places/components/LikeButton/LikeButton.types.ts
  frontend/src/domains/places/components/PlaceCard/PlaceCard.tsx
  frontend/src/domains/places/components/PlaceCard/PlaceCard.types.ts
  frontend/src/domains/places/hooks/usePlaceList.ts
  frontend/src/domains/places/queries/usePlaceQuery.ts
  frontend/src/domains/places/types/api.types.ts
  frontend/src/domains/places/types/place.types.ts
  frontend/src/layouts/SideSheet/SideSheet.tsx
Labels: frontend, feature

#842 feat: 루티 스페이스 삭제 기능 구현
  frontend/src/@common/hooks/useCheckLogin.ts
  frontend/src/domains/routieSpace/apis/routieSpace.ts
  frontend/src/domains/routieSpace/queries/useRoutieSpaceQuery.ts
  frontend/src/domains/routieSpace/types/api.types.ts
  frontend/src/pages/Home/hooks/useRoutieSpaceNavigation.ts
  frontend/src/pages/ManageRoutieSpaces/ManageRoutieSpaces.styles.ts
  frontend/src/pages/ManageRoutieSpaces/ManageRoutieSpaces.tsx
  frontend/src/pages/ManageRoutieSpaces/components/RoutieSpaceList/RoutieSpaceList.styles.ts
  frontend/src/pages/ManageRoutieSpaces/components/RoutieSpaceList/RoutieSpaceList.tsx
  frontend/src/pages/ManageRoutieSpaces/components/RoutieSpaceList/RoutieSpaceList.types.ts
  frontend/src/pages/ManageRoutieSpaces/components/RoutieSpaceListItem/RoutieSpaceListItem.tsx
  frontend/src/pages/ManageRoutieSpaces/components/RoutieSpaceListItem/RoutieSpaceListItem.types.ts
Labels: frontend, feature

#851 refactor: API 명세와 실제 API 함수 맞게 최신화
  frontend/src/domains/places/apis/place.ts
  frontend/src/domains/routie/apis/routie.ts
  frontend/src/domains/routieSpace/apis/routieSpace.ts
Labels: frontend, refactor

#850 fix: 장소 삭제 시 좋아요도 같이 삭제
  backend/spring-routie/src/main/java/routie/business/like/domain/PlaceLikeRepository.java
  backend/spring-routie/src/main/java/routie/business/place/application/PlaceService.java
  backend/spring-routie/src/test/java/routie/business/place/ui/v1/PlaceControllerV1Test.java
Labels: backend, fix

#855 fix: 루티 스페이스 삭제 시 장소에 관련된 좋아요 삭제
  backend/spring-routie/src/main/java/routie/business/like/domain/PlaceLikeRepository.java
  backend/spring-routie/src/main/java/routie/business/routiespace/application/RoutieSpaceService.java
  backend/spring-routie/src/test/java/routie/business/routiespace/ui/v1/RoutieSpaceControllerV1Test.java
Labels: backend, fix

#859 fix: 루티 스페이스를 삭제할 수 없는 문제 해결
  backend/spring-routie/src/main/java/routie/business/routie/domain/Routie.java
  backend/spring-routie/src/main/java/routie/business/routie/domain/RoutiePlace.java
Labels: backend, fix

#857 feat: 게스트 로그인 기능 추가
  backend/spring-routie/build.gradle
  backend/spring-routie/src/main/java/routie/business/authentication/application/AuthenticationService.java
  backend/spring-routie/src/main/java/routie/business/authentication/application/password/config/PasswordConfig.java
  backend/spring-routie/src/main/java/routie/business/authentication/domain/Role.java
  backend/spring-routie/src/main/java/routie/business/authentication/domain/jwt/JwtProcessor.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/AuthenticatedUser.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/annotation/AuthenticatedParticipant.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/config/AuthenticationArgumentConfig.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/resolver/AuthenticatedParticipantArgumentResolver.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/argument/resolver/AuthenticatedUserArgumentResolver.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/v1/AuthenticationControllerV1.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/v1/dto/request/GuestAuthenticationRequest.java
  backend/spring-routie/src/main/java/routie/business/authentication/ui/v1/dto/response/GuestAuthenticationResponse.java
  backend/spring-routie/src/main/java/routie/business/like/application/GuestPlaceLikeService.java
  backend/spring-routie/src/main/java/routie/business/like/application/ParticipantPlaceLikeService.java
  backend/spring-routie/src/main/java/routie/business/like/application/PlaceLikeService.java
  backend/spring-routie/src/main/java/routie/business/like/application/UserPlaceLikeService.java
  backend/spring-routie/src/main/java/routie/business/like/domain/PlaceLike.java
  backend/spring-routie/src/main/java/routie/business/like/domain/PlaceLikeRepository.java
  backend/spring-routie/src/main/java/routie/business/like/ui/dto/response/LikedPlacesResponse.java
  backend/spring-routie/src/main/java/routie/business/like/ui/v1/PlaceLikeControllerV1.java
  backend/spring-routie/src/main/java/routie/business/like/ui/v2/PlaceLikeControllerV2.java
  backend/spring-routie/src/main/java/routie/business/participant/domain/Guest.java
  backend/spring-routie/src/main/java/routie/business/participant/domain/GuestRepository.java
  backend/spring-routie/src/main/java/routie/business/participant/domain/Participant.java
  backend/spring-routie/src/main/java/routie/business/participant/domain/User.java
  backend/spring-routie/src/main/java/routie/business/participant/domain/UserRepository.java
  backend/spring-routie/src/main/java/routie/business/participant/ui/dto/response/ParticipantInformationResponse.java
  backend/spring-routie/src/main/java/routie/business/participant/ui/dto/response/UserInformationResponse.java
  backend/spring-routie/src/main/java/routie/business/participant/ui/v1/ParticipantControllerV1.java
  backend/spring-routie/src/main/java/routie/business/participant/ui/v1/UserControllerV1.java
  backend/spring-routie/src/main/java/routie/business/routiespace/application/RoutieSpaceService.java
  backend/spring-routie/src/main/java/routie/business/routiespace/domain/RoutieSpace.java
  backend/spring-routie/src/main/java/routie/business/routiespace/domain/RoutieSpaceRepository.java
  backend/spring-routie/src/main/java/routie/business/routiespace/ui/v1/RoutieSpaceControllerV1.java
  backend/spring-routie/src/main/java/routie/business/routiespace/ui/v2/RoutieSpaceControllerV2.java
  backend/spring-routie/src/main/java/routie/business/user/ui/dto/response/UserInformationResponse.java
  backend/spring-routie/src/main/java/routie/global/exception/domain/ErrorCode.java
  backend/spring-routie/src/main/resources/db/migration/V10__add_guests_and_modify_tables.mysql.sql
  backend/spring-routie/src/test/java/routie/business/authentication/ui/v1/AuthenticationControllerV1Test.java
  backend/spring-routie/src/test/java/routie/business/like/domain/PlaceLikeBuilder.java
  backend/spring-routie/src/test/java/routie/business/like/domain/PlaceLikeFixture.java
  backend/spring-routie/src/test/java/routie/business/like/ui/v1/PlaceLikeControllerV1Test.java
  backend/spring-routie/src/test/java/routie/business/like/ui/v2/PlaceLikeControllerV2Test.java
  backend/spring-routie/src/test/java/routie/business/participant/domain/GuestBuilder.java
  backend/spring-routie/src/test/java/routie/business/participant/domain/GuestFixture.java
  backend/spring-routie/src/test/java/routie/business/participant/domain/UserBuilder.java
  backend/spring-routie/src/test/java/routie/business/participant/domain/UserFixture.java
  backend/spring-routie/src/test/java/routie/business/participant/ui/v1/ParticipantControllerV1Test.java
  backend/spring-routie/src/test/java/routie/business/place/ui/v1/PlaceControllerV1Test.java
  backend/spring-routie/src/test/java/routie/business/place/ui/v2/PlaceControllerV2Test.java
  backend/spring-routie/src/test/java/routie/business/routie/application/RoutieServiceTest.java
  backend/spring-routie/src/test/java/routie/business/routie/application/RoutieServiceValidationTest.java
  backend/spring-routie/src/test/java/routie/business/routie/ui/RoutieControllerTest.java
  backend/spring-routie/src/test/java/routie/business/routie/ui/v1/RoutieControllerV1Test.java
  backend/spring-routie/src/test/java/routie/business/routiespace/domain/RoutieSpaceBuilder.java
  backend/spring-routie/src/test/java/routie/business/routiespace/ui/v1/RoutieSpaceControllerV1Test.java
  backend/spring-routie/src/test/resources/application.yml
Labels: backend, feature
